# Costumer Segmentation:

## Import libraries/data:

In [643]:
import pandas as pd
import datetime as dt
import numpy as np

In [644]:
data = pd.read_csv('XYZ_sports_dataset.csv', sep =';')

## Data Exploration:

#### ID:

In [645]:
data['ID'].value_counts()

ID
10000    1
19966    1
19954    1
19955    1
19956    1
        ..
14984    1
14985    1
14986    1
14987    1
24941    1
Name: count, Length: 14942, dtype: int64

All id's are unique so we can set it as an index:

In [646]:
data.set_index('ID', inplace=True)

In [647]:
#We have one duplicated client when we set index as ID, so we remove it
data.drop_duplicates(inplace=True)

In [648]:
teste = data.copy()

#### Age:

In [649]:
data['Age'].unique()

array([60, 29, 23,  9, 35, 24, 14, 20, 63, 12, 28, 26, 47, 39, 19, 30, 43,
       44, 13, 17, 22, 21,  2,  1, 74, 38, 46, 34,  6, 11, 42, 56, 33, 52,
       54, 32,  7, 27,  3, 37, 31, 49, 57, 15,  8, 83,  5, 53, 40, 41, 45,
       18, 64, 51, 25, 69, 55, 48, 16, 10, 72, 62, 36,  4, 78, 50, 67, 66,
       59, 86, 81, 73, 65,  0, 68, 80, 58, 76, 85, 61, 75, 82, 71, 70, 79,
       77, 84, 87])

There are no wierd values for age

#### Income:

Children under 16 should have no income:

In [650]:
data[data['Age']<16][data['Income']!=0]

/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/702331251.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['Age']<16][data['Income']!=0]

,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,...,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout
ID,,,,,,,,,,,,,,,,,,,,,
10076,9,Male,NaN,2017-09-16,2017-09-16,2019-07-01,2019-12-31,2019-10-26,5,708.20,...,0.0,64.0,64,2.0,17.42,6,2,0.0,0,0
10224,7,Male,NaN,2016-04-20,2018-11-11,2018-07-01,2018-12-31,2018-10-25,17,836.60,...,0.0,107.0,91,2.0,11.72,6,3,0.0,0,1
10226,10,Female,NaN,2016-11-14,2016-11-14,2019-07-01,2019-12-31,2019-10-26,5,1331.55,...,0.0,65.0,47,1.0,8.71,4,3,0.0,0,0
10261,3,Male,NaN,2017-09-07,2017-09-07,2019-07-01,2019-12-31,2019-10-19,12,1066.40,...,0.0,78.0,62,2.0,17.42,5,2,0.0,0,0
10295,5,Female,NaN,2015-03-05,2015-03-05,2019-07-01,2019-12-31,2019-09-07,54,286.30,...,0.0,15.0,7,1.0,3.14,0,5,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24804,4,Female,NaN,2016-03-05,2016-03-05,2019-07-01,2019-12-31,2019-10-26,5,1656.30,...,0.0,95.0,88,2.0,9.72,3,4,0.0,0,0
24830,2,Male,2750.0,2018-07-26,2018-07-26,2019-07-01,2019-12-31,2019-10-19,12,773.32,...,0.0,27.0,20,2.0,17.42,8,2,0.0,0,0
24836,5,Male,NaN,2018-07-02,2018-07-02,2019-07-01,2019-12-31,2019-10-30,1,654.60,...,0.0,20.0,20,2.0,15.42,9,2,0.0,0,0
24874,15,Male,NaN,2015-11-02,2016-07-31,2016-01-01,2016-12-31,2016-05-30,62,353.60,...,0.0,20.0,17,1.0,8.71,0,0,0.0,0,1
24930,4,Male,NaN,2017-06-30,2017-11-07,2017-07-01,2017-12-31,2017-09-30,38,77.60,...,0.0,5.0,5,2.0,17.42,7,1,0.0,0,1

In [651]:
data.loc[data["Age"] < 16 , "Income"] = 0

#### Gender:

In [652]:
data['Gender'].unique()

array(['Female', 'Male'], dtype=object)

No wierd values for Gender

#### EnrollmentStart / EnrollmentFinish

We start by turning all dates into datetime format:

In [653]:
data['EnrollmentStart'] = pd.to_datetime(data['EnrollmentStart'])
data['EnrollmentFinish'] = pd.to_datetime(data['EnrollmentFinish'])

data['LastPeriodStart'] = pd.to_datetime(data['LastPeriodStart'])
data['LastPeriodFinish'] = pd.to_datetime(data['LastPeriodFinish'])

data['DateLastVisit'] = pd.to_datetime(data['DateLastVisit'])

In [654]:
data[data['EnrollmentStart'] == data['EnrollmentFinish']]['LastPeriodFinish'].value_counts()

LastPeriodFinish
2019-12-31    2038
2019-06-30     186
2018-12-31     117
2017-12-31      22
2016-12-31      20
2018-06-30      20
2017-06-30       9
2016-06-30       5
2015-06-30       3
2015-12-31       2
Name: count, dtype: int64

Most People have LastPeriodFinish = '2019-12-31' (as expected for renovating members), so we'll look into the other cases:

##### Members who have not been active in Current Period:

We'll check the case of people who haven't visited the Facility since the last Period:

In [655]:
data.loc[data['DateLastVisit']< '2019-06-30', 'Dropout'].value_counts()

Dropout
1    11335
0      324
Name: count, dtype: int64

The people who had DateLastVisit < '2019-06-30' and don't have a DropOut are the poeple who have 'EnrollmentStart'= 'EnrolmentFinish', which tells us that:
- these people have dropped out but that has not been added to the system.
- Their contract is still active as they've been paying, but not comming to the gym.

In [656]:
data[data['EnrollmentStart'] == data['EnrollmentFinish']].loc[data['DateLastVisit']< '2019-06-30']

,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,...,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout
ID,,,,,,,,,,,,,,,,,,,,,
10111,24,Male,2250.0,2015-04-30,2015-04-30,2015-01-01,2015-06-30,2015-05-12,1633,33.60,...,0.0,2.0,0,7.0,28.98,2,5,0.0,0,0
10185,20,Male,1390.0,2017-09-08,2017-09-08,2019-01-01,2019-06-30,2019-04-03,211,281.00,...,0.0,72.0,0,7.0,38.01,9,2,0.0,0,0
10244,7,Male,0.0,2018-04-07,2018-04-07,2018-07-01,2019-06-30,2019-02-02,271,131.80,...,0.0,7.0,7,1.0,8.86,3,2,0.0,0,0
10363,19,Female,1290.0,2018-04-05,2018-04-05,2019-01-01,2019-06-30,2019-03-29,216,258.20,...,0.0,44.0,0,7.0,59.01,7,2,0.0,0,0
10438,23,Female,1940.0,2015-01-21,2015-01-21,2019-07-01,2019-12-31,2018-04-07,572,693.15,...,0.0,109.0,0,7.0,24.01,0,5,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24700,10,Female,0.0,2016-01-04,2016-01-04,2016-01-01,2016-12-31,2016-07-04,1214,699.55,...,0.0,21.0,20,4.0,34.84,5,4,0.0,0,0
24756,21,Female,1660.0,2018-10-11,2018-10-11,2019-01-01,2019-06-30,2019-05-28,156,115.30,...,0.0,21.0,19,1.0,8.71,10,1,0.0,0,0
24781,17,Female,1270.0,2019-02-12,2019-02-12,2019-07-01,2019-12-31,2019-04-29,185,156.50,...,0.0,7.0,0,7.0,21.98,0,1,0.0,0,0
24871,32,Male,4610.0,2018-04-05,2018-04-05,2018-01-01,2018-12-31,2018-05-18,531,147.35,...,0.0,11.0,0,7.0,60.97,0,2,0.0,0,0
24883,24,Female,2120.0,2016-09-13,2016-09-13,2018-01-01,2018-12-31,2018-07-27,461,533.20,...,0.0,100.0,0,7.0,60.97,6,3,0.0,0,0

----

Some people have DateLastVisit in their LastPeriod (233):
- Those people will be considered the ones who Droped Out - EnrollmentFinished on the date of LastVisit.
- The rest will be considered active.

In [657]:
data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< data['LastPeriodFinish']][data['DateLastVisit']> data['LastPeriodStart']][data['DateLastVisit']< '2019-06-30']

/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/2181809022.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< data['LastPeriodFinish']][data['DateLastVisit']> data['LastPeriodStart']][data['DateLastVisit']< '2019-06-30']
/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/2181809022.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< data['LastPeriodFinish']][data['DateLastVisit']> data['LastPeriodStart']][data['DateLastVisit']< '2019-06-30']
/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/2181809022.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< data['LastPeriodFinish']][data['DateLastVisit']> data['LastPeriodStart']][data['DateLastVisit']< '2019-06-30']

,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,LifetimeValue,...,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout
ID,,,,,,,,,,,,,,,,,,,,,
10111,24,Male,2250.0,2015-04-30,2015-04-30,2015-01-01,2015-06-30,2015-05-12,1633,33.60,...,0.0,2.0,0,7.0,28.98,2,5,0.0,0,0
10185,20,Male,1390.0,2017-09-08,2017-09-08,2019-01-01,2019-06-30,2019-04-03,211,281.00,...,0.0,72.0,0,7.0,38.01,9,2,0.0,0,0
10244,7,Male,0.0,2018-04-07,2018-04-07,2018-07-01,2019-06-30,2019-02-02,271,131.80,...,0.0,7.0,7,1.0,8.86,3,2,0.0,0,0
10363,19,Female,1290.0,2018-04-05,2018-04-05,2019-01-01,2019-06-30,2019-03-29,216,258.20,...,0.0,44.0,0,7.0,59.01,7,2,0.0,0,0
10490,60,Male,5760.0,2016-10-17,2016-10-17,2019-01-01,2019-06-30,2019-03-06,239,647.89,...,0.0,212.0,0,7.0,41.02,0,3,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24684,59,Male,7240.0,2017-01-02,2017-01-02,2019-01-01,2019-06-30,2019-05-24,160,897.10,...,0.0,155.0,0,7.0,60.97,5,3,0.0,0,0
24700,10,Female,0.0,2016-01-04,2016-01-04,2016-01-01,2016-12-31,2016-07-04,1214,699.55,...,0.0,21.0,20,4.0,34.84,5,4,0.0,0,0
24756,21,Female,1660.0,2018-10-11,2018-10-11,2019-01-01,2019-06-30,2019-05-28,156,115.30,...,0.0,21.0,19,1.0,8.71,10,1,0.0,0,0
24871,32,Male,4610.0,2018-04-05,2018-04-05,2018-01-01,2018-12-31,2018-05-18,531,147.35,...,0.0,11.0,0,7.0,60.97,0,2,0.0,0,0
24883,24,Female,2120.0,2016-09-13,2016-09-13,2018-01-01,2018-12-31,2018-07-27,461,533.20,...,0.0,100.0,0,7.0,60.97,6,3,0.0,0,0

In [658]:
index_i =[]
index_drop = []
for i in data.index:
    start = data['LastPeriodStart'][i]
    end = data['LastPeriodFinish'][i]
    date_visit= data['DateLastVisit'][i]
    if data['EnrollmentFinish'][i] == data['EnrollmentStart'][i]:
        if start<=date_visit <=end:
            if data['DateLastVisit'][i] < pd.Timestamp(dt.date(2019,6,30)):
                index_i.append(i)

These people are the Drop Outs:

In [659]:
data.loc[index_i, 'Dropout']=1

In [660]:
data.loc[index_i, 'EnrollmentFinish'] = data.loc[index_i, 'DateLastVisit']

-----

We now need to check our non-drop out members:

In [661]:
data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< '2019-06-30']['LastPeriodFinish'].value_counts()

/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/3967296023.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< '2019-06-30']['LastPeriodFinish'].value_counts()

LastPeriodFinish
2019-12-31    81
2019-06-30     4
2018-12-31     4
2016-12-31     1
2018-06-30     1
Name: count, dtype: int64

Members that don't have LastPeriodFinish == '2019-12-31' will be removed (it should be '2019-12-31' so they'll be considered errors):

In [662]:
data.drop(data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< '2019-06-30'][data['LastPeriodFinish']!= '2019-12-31'].index, inplace = True)

/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/3883782199.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data.drop(data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< '2019-06-30'][data['LastPeriodFinish']!= '2019-12-31'].index, inplace = True)
/var/folders/x6/c7bgz3zn0hg_kdmljrfw7k_m0000gn/T/ipykernel_7500/3883782199.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data.drop(data[data['EnrollmentStart'] == data['EnrollmentFinish']][data['DateLastVisit']< '2019-06-30'][data['LastPeriodFinish']!= '2019-12-31'].index, inplace = True)

##### Had activity in last period + paying members:

The rest of the people are the ones who have activity in the gym in the last period/ are still paying, so we'll make:
- 'EnrollmentFinish' == '2019-10-31'
- 'LastPeriodFinish' == '2019-12-31'

In [663]:
sum = 0
index_i =[]
for i in data.index:
    date_visit= data['DateLastVisit'][i]
    if data['EnrollmentFinish'][i] == data['EnrollmentStart'][i]:
        index_i.append(i)

In [664]:
data.loc[index_i, 'LastPeriodFinish']='2019-12-31'

In [665]:
data.loc[index_i, 'EnrollmentFinish']= '2019-10-31'

All our Dates should now make some kind of sense.

------

Create a new variable called 'Contract Duration' in days:

In [666]:
data['Contract_Duration'] = (data['EnrollmentFinish']- data['EnrollmentStart'])
data['Contract_Duration']=data['Contract_Duration'].dt.days

#### LastPeriodStart/Finish

Create a new Variable called 'Active_Period' in days:

In [667]:
data['Active_Period'] = (data['LastPeriodFinish']- data['LastPeriodStart'])
data['Active_Period']=data['Active_Period'].dt.days

In [668]:
data['Active_Period'].value_counts()

Active_Period
183     5132
364     3834
180     3504
365     1551
181      752
546       57
729       50
548       29
1094      10
913        7
1460       3
1278       2
Name: count, dtype: int64

#### DateLastVisit

We need to check how many people don't have Period that matches:
- DateLastVisit
- EnrollmentFinish-2

In [669]:
from dateutil.relativedelta import relativedelta

sum = 0
index_i =[]
for i in data.index:
    start = data['LastPeriodStart'][i]
    end = data['LastPeriodFinish'][i]
    date_test = data['EnrollmentFinish'][i] - relativedelta(months=2)
    date_visit= data['DateLastVisit'][i]
    if start<=date_test <=end:
        sum = sum
    elif start<=date_visit <=end:
        sum = sum
    else:
        sum+=1
        index_i.append(i)
print(sum)

150

In [670]:
data_wrong =data.loc[index_i]

Everyone in the list is considered a dropout.\
People who have 'EnrollmentFinish' = '2019-10-31' will be considered not a Dropout.\
We also need to make 'LastPeriodFinish' = '2019-12-31'

We can also drop all these people (another option to consider)

In [671]:
data_wrong[data_wrong['EnrollmentFinish'] == '2019-10-31'][['EnrollmentStart','EnrollmentFinish', 'LastPeriodStart','LastPeriodFinish', 'DateLastVisit','UseByTime','Dropout']]

,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,UseByTime,Dropout
ID,,,,,,,
10023,2016-10-13,2019-10-31,2018-01-01,2018-12-31,2019-10-25,1,1
10354,2016-09-12,2019-10-31,2017-01-01,2017-12-31,2019-10-31,1,1
10468,2017-09-13,2019-10-31,2018-07-01,2018-12-31,2019-10-25,1,1
11619,2019-04-01,2019-10-31,2019-01-01,2019-06-30,2019-10-29,1,1
12040,2014-10-16,2019-10-31,2018-07-01,2018-12-31,2019-10-01,1,1
12055,2015-09-23,2019-10-31,2016-07-01,2016-12-31,2019-10-31,1,1
12248,2019-02-05,2019-10-31,2019-01-01,2019-06-30,2019-10-29,1,1
13173,2016-09-26,2019-10-31,2018-07-01,2019-06-30,2019-10-23,1,1
13386,2015-05-18,2019-10-31,2019-01-01,2019-06-30,2019-10-14,1,1
13559,2016-03-11,2019-10-31,2019-01-01,2019-06-30,2019-10-25,1,1
14387,2016-03-01,2019-10-31,2018-01-01,2018-12-31,2019-10-30,1,1
14526,2018-10-11,2019-10-31,2019-01-01,2019-06-30,2019-10-28,1,1
14909,2017-10-16,2019-10-31,2018-07-01,2019-06-30,2019-10-30,1,1
15606,2014-09-24,2019-10-31,2018-01-01,2018-12-31,2019-10-30,1,1
15959,2018-09-17,2019-10-31,2019-01-01,2019-06-30,2019-10-21,1,1
17243,2016-04-11,2019-10-31,2017-01-01,2017-06-30,2019-09-21,1,1
17898,2016-11-11,2019-10-31,2018-01-01,2018-12-31,2019-10-28,1,1
18405,2017-03-08,2019-10-31,2018-07-01,2018-12-31,2019-10-31,1,1
19336,2016-03-08,2019-10-31,2019-01-01,2019-06-30,2019-10-30,1,1
20900,2016-11-19,2019-10-31,2018-07-01,2018-12-31,2019-10-23,1,1
21026,2017-03-02,2019-10-31,2018-01-01,2018-12-31,2019-10-29,1,1
21472,2017-09-04,2019-10-31,2018-01-01,2018-12-31,2019-10-30,1,1
22667,2019-07-23,2019-10-31,2019-01-01,2019-06-30,2019-10-30,1,1
23039,2015-06-09,2019-10-31,2018-01-01,2018-12-31,2019-09-02,1,1
23687,2015-10-02,2019-10-31,2019-01-01,2019-06-30,2019-10-30,1,1
23832,2014-10-01,2019-10-31,2018-07-01,2019-06-30,2019-10-29,1,1

In [672]:
index_a =[]
for i in data_wrong.index:
    if data_wrong['EnrollmentFinish'][i] == pd.Timestamp(dt.date(2019,10,31)):
        index_a.append(i)

In [673]:
data.loc[index_a, 'LastPeriodFinish'] = '2019-12-31'
data.loc[index_a, 'Dropout'] = 0

O restante dos clientes vão ser considerados erros e droped:

In [674]:
sum = 0
index_drop =[]
for i in data.index:
    start = data['LastPeriodStart'][i]
    end = data['LastPeriodFinish'][i]
    date_test = data['EnrollmentFinish'][i] - relativedelta(months=2)
    date_visit= data['DateLastVisit'][i]
    if start<=date_test <=end:
        sum = sum
    elif start<=date_visit <=end:
        sum = sum
    else:
        sum+=1
        index_drop.append(i)
print(sum)

124

In [675]:
data.drop(index_drop, inplace = True)

### DaysWithoutFrequency